doctype html
html
	head
		script(src='https://code.jquery.com/jquery-3.2.1.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
		link(rel="stylesheet", href="reset.css")
		meta(name='viewport' content="width=device-width,initial-scale=1")
		script(src="custom.js")
		link(rel="stylesheet", href="custom.css")
	body
		div(class="container")
			if pingpongFree == true
				button(id='occupied') 
					p(id='pingStatus') The ping pong table is available! :) 
			else
				button(id='occupied') 
					p(id='pingStatus') The ping pong table is occupied. :(

			div(id="chatwindow")
				div(id="allMessagesWindow")
					ul(id="allMessages")
						each message in messages
							li #{message.username}: #{message.message}
				input(class="inputChat" id="username" placeholder="username")
				button(class="submitChat" id="submitUserName") Submit

		
			if pingpongFree == true
				style.
					#occupied {
						background-color: #4CAF50;
					}
					#chatwindow {
					   border: solid 5px green;
					}
			else
				style.
					#occupied {
						background-color: red;
					}
	