html, body, .container {
   height: 100%;
}

#occupied {
   display: block;
   height: 40%;
   width: 80%;
   margin: 5% auto;
   margin-bottom: 2.5%; 
   background-color: #4CAF50 ; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   font-size: 4vw;
   text-decoration: none;
   cursor: pointer;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#chatwindow {
   height: 40%;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   box-sizing: border-box;
   margin: 5% auto;
   margin-top: 2.5%;
   width: 80%;
   border: solid 5px red;
   position: relative;
   display: block;

}

/* prevent zoom */
@media (max-width: 400px) {
   input {
      font-size: 16px;
   }   
   #chatwindow {
      margin-top: 0;
      height: 85%;
      width: 100%;
   }
   #occupied {
      height: 10%;
      width: 100%;
   }
}

#allMessagesWindow {
   overflow-y: scroll;
   height: 82%;
}

#chatwindow li {
   list-style-type: none;
   padding-left: 0px;
   margin-left: 0px;
}

.inputChat, .submitChat {
   position: absolute;
   bottom: 0;
   height: 15%;
   border: 1px solid grey;
   padding: 0px;
   box-sizing: border-box;
}

.inputChat {
   width: 80%;
}

.submitChat {
   width: 20%;
   right: 0;
}

